@tailwind base;
@tailwind components;
@tailwind utilities;

.ticketPlace {
  font-size: 14px;
  font-weight: 400;
  color: #525965;
  ;
}

.ticketCollection {
  font-size: 12.73px;
  font-weight: 400;
  color: #ffffff;
  background-color: #1D1D1F;
}

.adTitle {
  font-size: 20px;
  font-weight: 600;
  color: #222D3A;
}

.adText {
  font-size: 12.8px;
  font-weight: 400;
  color: #525965;
}


.seeMoreButton {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2C9CF0;
  padding: 14px 32px;
  border-radius: 4px;
}

.foldable-ticket {
  height: 24px;
  width: 100%;
  --mask: radial-gradient(12px at 12px 50%, #0000 100%, #000) -12px/ 100% 24px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  clip-path: none;
}